Authlib~=1.3
Flask~=3.0
opentelemetry-exporter-otlp~=1.23.0
opentelemetry-instrumentation-flask~=0.44b
opentelemetry-instrumentation-requests~=0.44b
opentelemetry-sdk~=1.23.0
protobuf~=3.20,<3.21
requests~=2.32
