/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/scss/bootstrap';

.sml-card {
  margin: 1rem 0;
}

h1 {
  margin-top: 0.5rem;
}

.sport-columns {
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
  }
}

.logo {
  max-height: 250px;
}
