/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/scss/bootstrap';

.sml-card {
  margin: 1rem 0;
}

.sport-columns {
  @include media-breakpoint-up(sm) {
    column-count: 2;
  }
  @include media-breakpoint-up(lg) {
    column-count: 3;
  }
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

.logo {
  max-height: 250px;
}
